@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    word-wrap: break-word;
    margin: 0;
    padding-top: 60px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #0e141df1;
    color: #ddd;
}

header {
    text-align: center;
    padding: 25px;
    color: #e4e4e4;
    text-align: center;
    border-top-right-radius:10vb;
    border-bottom-left-radius:10vb;
    border-color: ffffff80;
    font-size: larger;
    animation: efecto1 5s linear infinite;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 0px 10px 5px 10px rgb(24, 21, 31);
    transition: box-shadow 0.1s ease;
    
}



main {
    display:block;
    margin: 5% 20%;
    margin-bottom: 10%;
    
}

nav {
    display: inline-block;
    margin: 150px;
    top: 10px;
    padding: 20px;
    margin: 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

nav a {

    border-color: #dddddd05;
    border-radius:5px;
    display: inline-block;
    padding: 10px;
    top: 0px;
    text-decoration: none;
    color: rgb(24, 20, 41);

}

footer{
    text-align: center;
}

#acercademi {
    margin-top: 10%;
    padding-top: 500px;
    top: 200px;
    width: 60%;
    margin: 5% 10%;
    padding: 10%;
    margin-bottom: 10%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 5px rgb(24, 21, 31);
    transition: transform 0.3s infinite, background-color 12s ease;
}

#habilidades {
    box-shadow: 0px 1px 5px 5px rgb(24, 21, 31);
    width: 60%;
    margin: 5% 10%;
    padding: 10%;
    margin-bottom: 10%;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

#habilidades-contenido{
    display: flex;
    justify-content:center;
}

#experiencia {
    box-shadow: 0px 1px 5px 5px #18151f;
    width: 60%;
    margin: 5% 10%;
    padding: 10%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#proyectos {
    box-shadow: 0px 1px 5px 5px rgb(24, 21, 31);
    width: 60%;
    margin: 5% 10%;
    padding: 10%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.github img{
    color: transparent;
    display:inline;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
    border: 1px solid;
}

#contacto {
    box-shadow: 0px 1px 5px 5px rgb(24, 21, 31);
    display: block;
    width: 60%;
    margin: 5% 10%;
    padding: 10%;
    color: aliceblue;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
}

#contacto form input[type="text"]{
    display: block;
    width: 70%;
    margin: auto;
    padding: 2%;
    color: aliceblue;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    background: #0e141df1;
    font-family: 'Courier New', Courier, monospace;
}

#contacto form input[type="email"]{
    display: block;
    width: 70%;
    margin: auto;
    color: aliceblue;
    padding: 2%;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    background: #0e141df1;
    font-family: 'Courier New', Courier, monospace;
}

#contacto form textarea {
    width: 60%;
    color: aliceblue;
    margin: 0 0 10px 0;
    padding: 3%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: 1px solid;
    background: #0e141df1;
}

#contacto form input[type="submit"]{
    display: block;
    width: 70%;
    color: aliceblue;
    margin: auto;
    padding: 2%;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.5);
    background: rgba(13, 19, 28, 0.945);
    color: rgba(240, 248, 255, 0.171);
}

#habilidades ul,
#experiencia ul,
#proyectos ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;

}

#habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #dddddd4d;
    border-radius: 5px;
    margin-right: 10px;
    background: #18151f00;
    animation: efecto2 10s alternate infinite;
}

#experiencia ul li {
    margin-bottom: 10px;
}

#proyectos ul li {
    margin-bottom: 10px;
}



.menufijo {
    background-color: #000a1a3b;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-bottom: 10%;
    padding: 0;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined:hover{
    transition: all 0.5s;
    scale: 0.9;
    filter: drop-shadow(1px 1px 10px white);
}

.acercademi:hover{
    filter: drop-shadow(1px 1px 10px white);
    scale: 0.9;
    transition: all 0.5s;
}


.habilidades:hover{
    scale: 0.9;
    filter: drop-shadow(1px 1px 10px white);
    transition: all 0.5s;
}

.proyectos:hover{
    filter: drop-shadow(1px 1px 10px white);
    scale: 0.9;
    transition: all 0.5s;
}

.experiencia:hover{
    filter: drop-shadow(1px 1px 10px white);
    scale: 0.9;
    transition: all 0.5s;
    
}
.contacto:hover{
    transition: all 0.5s;
    scale: 0.9;
    filter: drop-shadow(1px 1px 10px white);
}

@keyframes efecto1 {
    0% {
        background-color: #243f68;
        
    }
    25%{
        
    }

    50% {
        background-color: #1e304d;
        
    }
    75%{
        
    }
    100%{
        background-color: #243f68;
    
    }
}
@keyframes efecto2{
    0%{
        color: #ffffffb7;
    }
    25%{
        color: #dddddd00;
    }
    50%{
        color: #ffffff;
    }
    75%{
        color: #dddddd00;
    }
    100%{
        color: #ffffffb7;
    }
}