@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
header{
    background-color:  #6997DB;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    color: #c8d4e6;
    font-family: "Jersey 15", sans-serif;
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size:larger;
    animation: example 5s linear infinite;
    margin-left: 20%;
    margin-right: 20%;

}
#acercademi{
    border-bottom:solid 1px;
}
main{
    margin: 10% 25% ;
    border-bottom:solid 1px;
}
nav{
    text-align: center;
    margin: 15px;
    border-bottom:solid 1px;
}
nav a{
    border-bottom:solid 1px;
    padding: 10px;
    text-decoration: none;
}
 @keyframes example {
    0%  {background-color: #6997DB;}
    50% {background-color: rgb(62, 107, 62);}
}