@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
body{
    /.margin
    margin: 0;
    padding-top: 58px;
}
header{
    background-color: #6997DB;
    text-align: center;
    padding: 25px;
    color: aliceblue;
    background-color:  #6997DB;
    text-align: center;
    border-radius: 5px;
    color: #f8f8f8;
    font-family: "Jersey 15", sans-serif;
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size:larger;
    animation: efecto1 5s linear infinite;
    margin-left: 20%;
    margin-right: 20%;
}
main{
    margin: 5% 20%;
    text-align: center;
    margin-bottom: 10%;
    border: 1px solid #ddd;

}
nav{
    display:block;
    text-align: center;
    list-style: none;
    margin: 150px;
    top: 0px;
    padding: 20px;
    margin: 0;
}
nav a{
    display:contents;
    padding: 10px;
    top: 0px;

}
@keyframes efecto1 {
    0%  {background-color: #6997DB;}
    50% {background-color: #95befa;}
}
fieldset{
    display:contents;
    
}
#acercademi{
    width: 60%;
    margin: 2.5% 10%;
    padding: 10%;
    margin-bottom: 10%;
    border: 1px solid #ddd;
}
#habilidades{
    width: 60%;
    margin: 2.5% 10%;
    padding: 10%;
    margin-bottom: 10%;
    border: 1px solid #ddd;
}
#experiencia{
    width: 60%;
    margin: 2.5% 10%;
    padding: 10%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
#proyectos{
    width: 60%;
    margin: 2.5% 10%;
    padding: 10%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
#contacto{
    width: 60%;
    margin: 2.5% 10%;
    padding: 10%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.menufijo{
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10%;
    transition: all 0.3s ease-in-out;
}